.heading-title {
	margin-bottom: 100px;
}
.text-center {
	text-align: center;
}
.heading-title h3 {
	margin-bottom: 0;
	letter-spacing: 2px;
	font-weight: normal;
}
.p-top-30 {
	padding-top: 30px;
}
.half-txt {
	width: 60%;
	margin: 0 auto;
	display: inline-block;
	line-height: 25px;
	color: #7e7e7e;
}
.text-uppercase {
	text-transform: uppercase;
}

.team-member,
.team-member .team-img {
	position: relative;
}
.team-member {
	overflow: hidden;
}
.team-member,
.team-member .team-img {
	position: relative;
}

.team-hover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	border: 5px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.9);
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
	top: 35%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
	opacity: 1;
}
.team-hover .desk {
	position: absolute;
	top: 0%;
	width: 100%;
	opacity: 0;
	-webkit-transform: translateY(-55%);
	-ms-transform: translateY(-55%);
	transform: translateY(-55%);
	-webkit-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
	/*padding: 0 5px;*/
        /*padding-top: 40px;*/
}
.desk,
.desk h4,
.team-hover .s-link a {
	text-align: center;
	color: #222;
}
.team-member:hover .team-hover .s-link {
	bottom: 10%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
	opacity: 1;
}
.team-hover .s-link {
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-transform: translateY(45%);
	-ms-transform: translateY(45%);
	transform: translateY(45%);
	-webkit-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
	font-size: 35px;
}
.desk,
.desk h4,
.team-hover .s-link a {
	text-align: center;
	color: #222;
        font-size: 14pt;
}

.team-hover ul {
    font-size: 10pt;
    text-align: left; 
    padding-left: 20px;
}

.team-member .s-link a {
	margin: 0 10px;
	color: #333;
	font-size: 16px;
}
.team-title {
	position: static;
	padding: 10px 0;
	display: inline-block;
	letter-spacing: 2px;
	width: 100%;
}
.team-title h5 {
	margin-bottom: 0px;
	display: block;
	text-transform: uppercase;
}
.team-title span {
	font-size: 12px;
	text-transform: uppercase;
	color: #a5a5a5;
	letter-spacing: 1px;
}
