html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title #{locals.lgca}
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
        link(href='/css/main.css', rel='stylesheet')
    body#page-top
        nav(class=['navbar', 'navbar-expand-lg', 'navbar-light', 'fixed-top'], id='mainNav')
            div(class='container')
                a(class=['navbar-brand', 'js-scroll-trigger'], href='#page-top') LGCA
                button(class=['navbar-toggler', 'navbar-toggler-right'], type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span(class='navbar-toggler-icon')
                div#navbarResponsive(class=['collapse', 'navbar-collapse'])
                    ul(class=['navbar-nav', 'ml-auto'])
                        li(class='nav-item'): a(class=['nav-link', 'js-scroll-trigger'], href='#about') About
                        li(class='nav-item'): a(class=['nav-link', 'js-scroll-trigger'], href='#staff') Staff
                        li(class='nav-item'): a(class=['nav-link', 'js-scroll-trigger'], href='#publications') Publications
                        li(class='nav-item'): a(class=['nav-link', 'js-scroll-trigger'], href='#activities') Activities
                        li(class='nav-item'): a(class=['nav-link', 'js-scroll-trigger'], href='#apps') Applications
                        li(class='nav-item'): a(class=['nav-link', 'js-scroll-trigger'], href='#contacts') Contacts

        header(class=['masthead', 'text-center', 'text-white', 'd-flex'])
            div(class=['container', 'my-auto'])
                div(class='row')
                    div(class=['col-lg-10', 'mx-auto'])
                        h1(class='text-uppercase'): strong #{locals.lgca}
                        hr
                    div(class=['col-lg-8', 'mx-auto'])
                        p(class=['text-faded', 'mb-5']) Welcome to #{locals.lgca} (LGCA) website. There are information about staff members and publications of LGCA. You can also find photos of LGCA group from conferences and seminars.
                        a(class=['btn', 'btn-primary', 'btn-xl', 'js-scroll-trigger'], href='#about') Find Out More

        section#about(class='bg-primary')
            div(class='container')
                div(class='row')
                    div(class=['col-lg-8', 'mx-auto', 'text-center'])
                        h2(class=['section-heading', 'text-white']) About LGCA
                        hr(class=['light', 'my-4'])
                        p(class=['text-faded', 'mb-4']) Laboratory of Gravitation, Cosmology and Astrophysics was founded by Prof Sergey Chervon in 2012 on base of Ulyanovsk State Pedagogical University. LGCA has strong connection to Russian Gravitation Society (RGS) participating in conferences organized by RGS and acting as a host for RGS conferences such as RUSGRAV 2011, UISS 2016 etc.

        section#staff
            div(class='container')
                div(class='row')
                    div(class=['col-lg-12', 'text-center'])
                        h2(class='section-heading') LGCA staff
                        hr(class='my-4')
            div(class='container')
                div(class='row')
                    div(class=['col-md-2', 'col-sm-2'])
                        div(class='team-member')
                            div(class='team-img')
                                img(src='/img/team/chervon.jpg', alt='Prof Chervon S.V.', class='img-responsive')
                                div(class='team-hover')
                                    div(class='desk')
                                        h4 Fields of interest
                                        ul
                                            li Gravitation
                                            li Cosmology
                                            li Modified Gravity
                                            li Sigma model
                                            li EGB gravity
                                    div(class='s-link')
                                        a(href='/files/Chervon_CV-2017_5years.docx'): i(class=['fa', 'fa-facebook']) Curriculum Vitae
                            div(class='team-title')
                                h5 Prof Sergey Chervon
                                span head of LGCA
                    div(class=['col-md-2', 'col-sm-2'])
                        div(class='team-member')
                            div(class='team-img')
                                img(src='/img/team/nikolaev.jpg', alt='Dr Nikolaev A.V.', class='img-responsive')
                                div(class='team-hover')
                                    div(class='desk')
                                        h4 Fields of interest
                                        ul
                                            li Modified Gravity
                                            li f(R) gravity
                                            li Gravitational Lensing
                                    div(class='s-link')
                                        a(href='/files/nikolaevCV.doc'): i(class=['fa', 'fa-facebook']) Curriculum Vitae
                            div(class='team-title')
                                h5 Dr Aleksei Nikolaev
                                span member of LGCA
                    div(class=['col-md-2', 'col-sm-2'])
                        div(class='team-member')
                            div(class='team-img')
                                img(src='/img/team/koshelev.jpg', alt='Dr Koshelev N.A.', class='img-responsive')
                                div(class='team-hover')
                                    div(class='desk')
                                        h4 Fields of interest
                                        ul
                                            li Inflation Cosmology
                                            li Early Universe Physics
                                            li Dark Energy
                                            li Dark Matter
                                    div(class='s-link')
                                        a(href='/files/KoshelevCV.docx'): i(class=['fa', 'fa-facebook']) Curriculum Vitae
                            div(class='team-title')
                                h5 Dr Nikolai Koshelev
                                span member of LGCA
                    div(class=['col-md-2', 'col-sm-2'])
                        div(class='team-member')
                            div(class='team-img')
                                img(src='/img/team/fatakhov.jpg', alt='Ph.D student Fatakhov A.', class='img-responsive')
                                div(class='team-hover')
                                    div(class='desk')
                                        h4 Fields of interest
                                        ul
                                            li Chiral Cosmological Model
                                            li Scalar-Tensor Gravity
                            div(class='team-title')
                                h5 Mr Azat Fatakhov
                                span Ph.D. student
                    div(class=['col-md-2', 'col-sm-2'])
                        div(class='team-member')
                            div(class='team-img')
                                img(src='/img/team/bolshakova.jpg', alt='Ph.D student Bolshakova K.', class='img-responsive')
                                div(class='team-hover')
                                    div(class='desk')
                                        h4 Fields of interest
                                        ul
                                            li Cosmological inflation in  tensor-multi-scalar field gravity
                            div(class='team-title')
                                h5 Mrs Katerina Bolshakova
                                span Ph.D. student

        section#publications(class='bg-primary')
            div(class='container')
                div(class='row')
                    div(class=['col-lg-12', 'mx-auto', 'text-center'])
                        h2(class=['section-heading', 'text-white']) LGCA Publications
                        hr(class=['light', 'my-4'])
                        table(class=['table', 'table-hover'])
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Authors
                                    th(scope='col') Title
                                    th(scope='col') Journal
                                    th(scope='col') Year
                            tbody
                                tr
                                    th(scope='row') 1
                                    td Sergey V. Chervon
                                    td Chiral Cosmological Models: Dark Sector Fields Description
                                    td Quantum Matter Vol. 2, 1-12
                                    td 2013
                                tr
                                    th(scope='row') 2
                                    td S.V. Chervon, I.V. Fomin
                                    td Exact and approximate solutions in the Friedmann cosmology
                                    td Russian Phys. J., NY, v.60, issue 30, pp. 427-440
                                    td 2017
                                tr
                                    th(scope='row') 3
                                    td S.V. Chervon, S.D. Maharaj, R. Goswami, A.V. Nikolaev
                                    td Exact solutions for scalar field cosmology in f(R) gravity
                                    td Modern Physics Letters A, v.32, No 30, p. 1750164
                                    td 2017
                                tr
                                    th(scope='row') 4
                                    td S.V. Chervon, I.V. Fomin
                                    td A new approach to exact solutions constructions in scalar cosmology with a Gauss-Bonnet term
                                    td Modern Physics Letters A, v.32, No 30, p. 1750129
                                    td 2017
                                tr
                                    th(scope='row') 5
                                    td S.V. Chervon, A.V. Nikolaev
                                    td Erratum to development of Zeldovcih's approach for cosmological distances measurement in the Friedmann Universe
                                    td Eur. Phys. J. C, v.77, No 7, p.446, 2017
                                    td 2017
                                tr
                                    th(scope='row') 6
                                    td S.V. Chervon, S.D. Maharaj, A. Beesham, A.S. Kubasov
                                    td New exact solutions for a chiral cosmological model in 5D EGB Gravity
                                    td Gravitation and Cosmology, v. 23, No.4, pp. 375-380
                                    td 2017
                                tr
                                    th(scope='row') 7
                                    td S.V. Chervon, I.V. Fomin
                                    td Exact inflation in Einstein-Gauss-Bonnet Gravity
                                    td Gravitation and Cosmology, v. 23, No.4, pp. 367-374
                                    td 2017
                                tr
                                    th(scope='row') 8
                                    td S.V. Chervon, A.V. Nikolaev
                                    td Realistic cosmological measurement of distances in the Friedmann universe
                                    td Int. Journal of Modern Physics A, v. 31, Nos. 2 & 3, 1641013 (8 pages)
                                    td 2016
                                tr
                                    th(scope='row') 9
                                    td S.V. Chervon, A.V. Nikolaev
                                    td The effect of universe inhomogeneities on cosmological distance measurements
                                    td Gravitation and Cosmology, v.22, No. 2, pp. 208-211
                                    td 2016
                                tr
                                    th(scope='row') 10
                                    td S.V. Chervon, A.V. Nikolaev
                                    td Development of Zeldovich’s approach for cosmological distances measurement in the Friedmann Universe
                                    td Eur. Phys. J. C 75:411
                                    td 2015
                                tr
                                    th(scope='row') 11
                                    td S.V. Chervon, R.R. Abbyazov, V. Mueller
                                    td σCDM coupled to radiation: Dark energy and Universe acceleration
                                    td Modern Physics Letters A. - World Scientific Publishing Co., v. 30, No. 26, 1550114 (11 pages)
                                    td 2015
                                tr
                                    th(scope='row') 12
                                    td S.V. Chervon, R.R. Abbyazov, S.V. Krjukov
                                    td Dynamics of chiral cosmological fields in phantonical model
                                    td Izv. Vuz. Fiz., Tomsk, v. 58, No.5, pp. 13-19
                                    td 2015
                                tr
                                    th(scope='row') 13
                                    td S.V. Chervon, R.R. Abbyazov, S.V. Krjukov
                                    td Dynamics of chiral cosmological fields in phantonical model
                                    td Russian Phys.J., NY, v.58, issue 5, p.597-605
                                    td 2015
                                tr
                                    th(scope='row') 14
                                    td S.V. Chervon, A. Beesham,  S.D. Maharaj, A.S. Kubasov
                                    td Exact Inflationary Solutions Inspired by the Emergent Universe Scenario
                                    td International Journal of Theoretical Physics, 54:884-895
                                    td 2015
                                tr
                                    th(scope='row') 15
                                    td S.V. Chervon, I.V. Fomin, A.S. Kubasov
                                    td Scalar and Chiral Fields in Cosmology
                                    td Ulyanovsk, Ulyanovsk State Pedagogical University, 2015 – 216 P.
                                    td 2015
                                tr
                                    th(scope='row') 16
                                    td S.V. Chervon, A.V. Astashenok, A.V. Yurov, E.V. Shabanov, M. Sami
                                    td New exact cosmologies on the brane
                                    td Astrophys. Space Sci. 353:319-328
                                    td 2014
                                tr
                                    th(scope='row') 17
                                    td S.V. Chervon, A.A. Chaadaev
                                    td New class of cosmological solutions for a self-interacting scalar field
                                    td Russian Phys. J., New York, v.56, No.7, December, p. 725-730
                                    td 2013
                                tr
                                    th(scope='row') 18
                                    td S.V. Chervon, R.R. Abbyazov
                                    td Unified Dark Matter and Dark Energy Description in a Chiral Cosmological Model
                                    td Modern Physics Letters A. - World Scientific Publishing Co., v. 28,No. 8, 1350024 (19 pages)
                                    td 2013
                                tr
                                    th(scope='row') 19
                                    td S.V. Chervon, A. Beesham, S. D. Maharaj, A.S. Kubasov
                                    td An emergent universe with dark sector fields in a chiral cosmological model
                                    td Quantum Matter, v.2, 388-395
                                    td 2013
                                tr
                                    th(scope='row') 20
                                    td S.V. Chervon
                                    td Chiral cosmological models: dark sector field description
                                    td Quantum Matter, v.2, 71-82
                                    td 2013
                                tr
                                    th(scope='row') 21
                                    td S.V. Chervon, R.R. Abbyazov
                                    td Chiral Cosmological Model including Dark Energy and Dark Matter
                                    td Journal “Vestnik RUDN”, № 2, 125-138
                                    td 2013
                                tr
                                    th(scope='row') 22
                                    td S.V. Chervon, A.S. Kubasov
                                    td Methods of exact solutions construction in the two-component chiral cosmological model
                                    td Proceedings of International Seminar “Nonlinear fields in the theory of gravitation and cosmology” and Russian School “Mathematics and computer modeling of fundamental objects and phenomenon”, Kazan, pp. 224-237
                                    td 2013
                                tr
                                    th(scope='row') 23
                                    td S.V. Chervon, R.R. Abbyazov
                                    td Interaction of chiral fields of the dark sector with cold dark matter
                                    td Gravitation & Cosmology, v.18, No.4, p. 262-269
                                    td 2012

        section#activities(class='p-0')
            div(class=['container-fluid', 'p-0'])
                div(class=['row', 'no-gutters', 'popup-gallery'])
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/1.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/1.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) ICGAC-12
                                    div(class='project-name') PFUR, Moscow, 2015
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/2.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/2.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/4.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/4.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/5.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/5.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/6.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/6.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/7.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/7.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/8.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/8.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/9.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/9.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/10.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/10.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/11.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/11.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/12.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/12.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/13.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/13.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/14.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/14.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/15.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/15.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/16.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/16.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/17.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/17.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/18.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/18.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/19.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/19.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/20.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/20.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/21.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/21.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/22.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/22.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/23.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/23.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/24.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/24.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/25.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/25.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/26.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/26.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/27.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/27.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/28.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/28.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/29.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/29.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/30.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/30.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 
                    div(class=['col-lg-4', 'col-sm-6'])
                        a(class='portfolio-box', href='img/activities/fullsize/31.JPG')
                            img(class='img-fluid', src='img/activities/thumbnails/31.JPG')
                            div(class='portfolio-box-caption')
                                div(class='portfolio-box-caption-content')
                                    div(class=['project-category', 'text-faded']) 
                                    div(class='project-name') 

        section#apps(class='bg-primary')
            div(class=['container', 'text-center', 'text-white'])
                h2(class='mb-4') Online apps for first year astronomy students
                     hr(class=['light', 'my-4'])
                     table(class=['table', 'table-hover'])
                        thead
                            tr
                                th(scope='col') #
                                th(scope='col') Author
                                th(scope='col') Title
                                th(scope='col') Russian Title
                                th(scope='col') Start
                        tbody
                            tr
                                th(scope='row') 1
                                td Nikolay A. Koshelev
                                td The model of the celestial sphere
                                td Модель небесной сферы
                                td
                                    a(class=['btn', 'btn-light', 'btn-xs', 'sr-button'], href='/demo_v3/celSph_v3/celestialSphere.html') Start
                            tr
                                th(scope='row') 2
                                td Nikolay A. Koshelev
                                td Horizontal coordinate system
                                td Горизонтальная система координат
                                td
                                    a(class=['btn', 'btn-light', 'btn-xs', 'sr-button'], href='/demo_v3/altAz_v3/azAltDemo.html') Start
                            tr
                                th(scope='row') 3
                                td Nikolay A. Koshelev
                                td The first equatorial coordinate system
                                td Первая экваториальная система координат
                                td
                                    a(class=['btn', 'btn-light', 'btn-xs', 'sr-button'], href='/demo_v3/equatorial1_v3/decHour.html') Start
                            tr
                                th(scope='row') 4
                                td Nikolay A. Koshelev
                                td The second Equatorial Coordinate System 
                                td Вторая экваториальная система координат
                                td
                                    a(class=['btn', 'btn-light', 'btn-xs', 'sr-button'], href='/demo_v3/equtorial2_v3/decRA.html') Start

        section#contacts
            div(class='container')
                div(class='row')
                    div(class=['col-lg-8', 'mx-auto', 'text-center'])
                        h2(class='section-heading') Contacts
                        hr(class='my-4')
                        p(class='mb-5') You can find LGCA staff members in the main building of Ulyanovsk State Pedagogical University named after I.N. Ulyanov, Room 416a

    script(src='/js/script.js')
